<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<!--<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
        </footer>
    </div>

</body>-->

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dream Catcher", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">                  
                        <li>
                            <form class="form-inline navbar-form navbar-left" role="search"
                                  method="post" action="@Url.Action("Login", "Login")">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Usuario"
                                           name="usuario">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Senha"
                                           name="senha">
                                </div>
                                <button type="submit" class="btn btn-default">Entrar</button>
                            </form>
                        </li>
                    
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dream Catcher</p>
        </footer>
    </div>
</body>
</html>
