@model IEnumerable<DreamCatcher.Models.ViewModels.DreamVIewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Objetivos</h2>

<p>
    <button id="#nova" class="btn btn-info " type="button" onclick="getModal()">
        Criar Objetivo
    </button>
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <button type="button" class="btn btn-info" onclick="getEditModal('@item.Id')">
                    Editar
                </button>
                <a class="btn btn-danger"
                   href="@Url.Action("Delete", "Dream", new { id = item.Id })">
                    Apagar
                </a>

                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |*@
             @*   @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |*@
                @*@Html.ActionLink("Apagar", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>

<div class="modal" id="modal">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    function getModal() {
        $("#modal").load('@Url.Action("Create", "Dream")', () => {
            $("#modal").modal();
        });
    }

    function getEditModal(idDream) {
        $("#modal").load('Dream/Edit/' + idDream, () => {
            $("#modal").modal();
        });
    }

</script>
